# Default ignored files
/../../CryptoGuardian  /.idea/shelf/
/../../CryptoGuardian  /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../CryptoGuardian  /.idea/httpRequests/
# Datasource local storage ignored files
/../../CryptoGuardian  /.idea/dataSources/
/../../CryptoGuardian  /.idea/dataSources.local.xml
